.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.sec {
    padding: 100px 0;
}

.sec .title {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    line-height: 80px;
    z-index: 999;
    border-bottom: 1px solid transparent;

}

.header.on {
    background: #fff;
    border-bottom: 1px solid #ddd;
}



.header .inner {
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;

}

.header.on .inner {
    color: #444;
}


.header h1 img {
    height: 50px;
}

.header.on h1 a {
    display: block;
    background: url(../images/header-logo-color.svg)no-repeat center center;
}


.header .menu_list {

    display: flex;
    gap: 50px;

}

.header .menu_list>li {
    font-size: 18px;
    font-weight: 400;
}

.header i {
    font-size: 32px;
    font-weight: 400;
}


.main_visual {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.main_visual .itm {
    min-height: 1000px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 120%;
}

.main_visual .itm.on {
    background-size: auto 100%;
    transition: 2s;
}


/* .main_slide .slick-active .bg1 {
    transform: scale(1.8);
} */

.bg1 {
    background-image: url(../images/main-visual-01.jpg);

}



.bg2 {
    background-image: url(../images/main-visual-02.jpg);
}

.bg3 {
    background-image: url(../images/main-visual-03.jpg);
}


.itm .main_tit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    margin: 0 0 0 -585px;
    color: #fff;
}

.itm .main_tit h2 {
    font-size: 50px;
    font-weight: 500;
    margin: 0 0 30px 0;
    transform: translateY(100px);
    opacity: 0;
    transition: 1s;
}

.main_slide .slick-active .main_tit h2 {
    transform: translateY(0);
    opacity: 1;
}

.itm .main_tit p {
    font-size: 22px;
    font-weight: 300;
    line-height: 34px;
    transform: translateY(100px);
    opacity: 0;
    transition: 1S 1s;
}

.main_slide .slick-active .main_tit p {
    transform: translateY(0);
    opacity: 1;
}

.main_visual .dots {
    position: absolute;
    bottom: 150px;
    left: 50%;

    display: flex;
    gap: 10px;
    transform: translate(0, 0);
    margin: 0 0 0 -585px;
    padding: 0 15px;
}

.main_visual .dots a {
    display: block;
    font-size: 15px;
    font-weight: 700;
}

.main_visual .dots li {
    position: relative;
    width: 70px;
    height: 30px;
    color: rgba(255, 255, 255, 0.5);
}

.main_visual .dots li.on a {
    color: #fff;
}

.main_visual .dots li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: rgba(255, 255, 255, 0.3);

}

.main_visual .dots li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background: #fff;
}

.main_visual .dots li.on::after {
    width: 100%;
    transition: 2s;
}

.main_visual .arrows {
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    transform: translate(-100%, -50%);
    margin: 0 0 0 600px;
    padding: 0 15px;
}

.main_visual .arrows i {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.4);
    padding: 15px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}

.main_visual .arrows i:hover {
    color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(255, 255, 255, 1);
}



.main_event .content {
    display: flex;
    gap: 15px;
}

.main_event .content figure {
    flex: 1;
}

.main_event .img_box {
    margin: 0 0 20px 0;
    overflow: hidden;

}

.main_event .title {
    text-align: center;
}

.main_event .title h2 {
    font-size: 16px;
    font-weight: 900;
    color: #63b23a;
    margin: 0 0 10px 0;

}

.main_event .title p {
    font-size: 40px;
    font-weight: 400;
    color: #444;
    line-height: 1.4;
    margin: 0 0 30px 0;
}


.main_event .content .img_box {
    overflow: hidden;
    margin: 0 0 20px 0;
}

.main_event .img_box img {
    transition: 0.5s;
}

.main_event .img_box:hover img {
    transform: scale(1.2);
}

.main_event figcaption {
    text-align: center;
}

.main_event figcaption h3 {
    font-size: 25px;
    margin: 0 0 10px 0;
}

.main_event figcaption p {
    font-size: 16px;
    color: #666;
    line-height: 1.4;
    margin: 0 0 20px 0;
    word-break: keep-all;
}

.main_event figcaption .con_btn {
    display: inline-block;
    width: 160px;
    line-height: 45px;
    border: 1px solid #655238;
    border-radius: 0 20px 0 20px;
    background-color: #fff;
    color: #655238;
    transition: 0.5s;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;

}

.main_event figcaption .con_btn i {
    font-weight: 400;
    padding: 0 0 0 10px;
}

/* 
.main_event figcaption a::after {
    content: "\e90b";
    font-family: xeicon;
    padding: 0 10px;
    font-size: 20px;
} */


.main_event figcaption .con_btn:hover {
    color: #fff;
    background-color: #655238;
}

.sub_event {
    background: #f2ebe1;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.sub_event .event {
    position: relative;
}

.sub_event .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    margin: 0 0 0 -585px;
    width: 500px;
    z-index: 1;
}

.sub_event .text span {
    display: block;
    font-size: 16px;
    font-weight: 900;
    color: #63b23a;
    margin: 0 0 20px 0;
}

.sub_event .text h2 {
    font-size: 40px;
    font-weight: 400;
    color: #444;
    line-height: 1.5;
    margin: 0 0 20px 0;
}

.sub_event .text p {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
    margin: 0 0 30px 0;
}

.sub_event .text a {
    padding: 15px 40px;
    font-size: 14px;
    font-weight: 700;
    color: #655238;
    border: 1px solid #655238;
    border-radius: 0 20px 0 20px;
    transition: 0.5s;
    text-align: center;

}

.sub_event .text a:hover {
    color: #fff;
    background: #655238;
}

.sub_event .box01 .about_img {
    text-align: right;

}




.sub_event .box02 .text {
    transform: translate(-100%, -50%);
    margin: 0 0 0 600px;

}

.sub_event .box02 {
    position: relative;
}

.sub_event .box02::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;

    z-index: -999;
    background: #655238;
    width: 100%;
    height: 100%;
}

.sub_event .box02 .text h2 {
    color: #fff;
}

.sub_event .box02 .text p {
    color: #fff;
}

.sub_event .box02 .text a {
    color: #fff;
    border: 1px solid #fff;
}

.sub_event .box02 .text a:hover {
    color: #655238;
    background: #fff;
}



.sub_event .box03 .about_img {
    text-align: right;

}

.sec .customer {
    padding: 100px 0;
}

.customer .tit {
    text-align: center;
}

.customer .tit h2 {
    display: block;
    font-size: 16px;
    font-weight: 900;
    color: #63b23a;
    margin: 0 0 10px 0;
}

.customer .tit p {
    font-size: 40px;
    font-weight: 400;
    color: #444;
    line-height: 1.5;
    margin: 0 0 20px 0;
}

.customer .news {
    display: flex;
    gap: 15px;
    max-width: 1200px;
    margin: 0 auto 30px auto;
    padding: 0 15px;
}

.customer .news figure {
    flex: 1;
}

.customer .news figure .new_img {
    overflow: hidden;
}

.customer .news figure img {
    transition: 0.5s;
    position: relative;
}

.customer .news figure img:hover {
    transform: scale(1.2);
}

.customer .news figure img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: (0, 0, 0, 0.3);
}

.customer .news figure ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 0;
}

.customer .news figure ul .green {
    font-size: 14px;
    font-weight: 400;
    color: #63b23a;
}

.customer .news figure ul .big {
    font-size: 20px;
    font-weight: 400;
}

.customer .list {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #fff;
    border-bottom: 1px solid #ddd;
    height: 120px;
}

.customer .line {
    border-top: 1px solid #ddd;
}

.customer .list .news_text {
    width: 800px;
}


.customer .list h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px 0;
}

.customer .list p {
    font-size: 16px;
    line-height: 1.4;
    color: #666;
}


.customer .list .date {
    color: #aaa;
}

.customer .list .date i {
    cursor: pointer;
    padding: 0 0 0 10px;
    color: #63b23a;
}

.for_ctm {
    position: relative;
    height: 400px;
    background-image: url(../images/img-main-customer.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.for_ctm .inner {
    max-width: 1200px;
    padding: 0 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    color: #fff;
}

.for_ctm .inner h3 {
    font-size: 16px;
    font-weight: 400;
    color: #63b23a;
    margin: 0 0 20px 0;
}

.for_ctm .inner p {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.4;
    margin: 0 0 30px 0;
}

.for_ctm .inner .btn {
    display: inline-block;


    /* padding: 10px 40px; */
    transition: 0.5s;
    cursor: pointer;
    padding: 15px 45px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0 20px 0 20px;
    transition: 0.5s;
    text-align: center;
}

.for_ctm .inner .btn:hover {
    background: #fff;
    color: #151515;

}

.footer {
    background: #111F2C;
    color: #ddd;

}

.footer .menual {
    line-height: 30px;
    display: flex;
    padding: 50px 0 30px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    align-items: center;
}


.footer .menual ul {
    display: flex;
    gap: 30px;
    padding: 0 0 0 50px;
}

.footer .menual ul>li {
    font-size: 14px;
    cursor: pointer;
}

.footer .menual button {
    margin-left: auto;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-weight: 700;
    padding: 13px 30px;
    line-height: 20px;
}

.footer .menual button i {
    vertical-align: middle;
    font-size: 20px;
    padding: 0 0 0 10px;
}

.footer .address {
    line-height: 1.5;
    align-items: center;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}

.footer .address .admin {
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    font-size: 14px;
    gap: 40px;

}

.footer .address .admin li {
    display: flex;
    gap: 30px;
}

.footer .copyright {
    margin-top: auto;
}

.footer .copyright p {
    font-size: 14px;
}