/* * {
    outline: 1px solid tomato;
} */

.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 16px;
}

.sec {
    padding: 100px 0;
}

.sec .title {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    /* border-bottom: 1px solid transparent; */
}

.header.on {
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.header:hover {
    background: #fff;
    border-bottom: 1px solid #ddd;
}


.header .container {
    height: 90px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.header.on .container {
    color: #444;
}

.header h1 {
    position: relative;
    z-index: 1000;
    margin: 0 auto 0 0;
}



.header h1 a {
    display: block;
    width: 166px;
    height: 50px;
    background: url(../images/header-logo-white.svg)no-repeat center center/contain;
}

.header.on h1 a {
    background: url(../images/header-logo-color.svg)no-repeat center center/contain;
}

.header:hover h1 a {
    background: url(../images/header-logo-color.svg)no-repeat center center/contain;
}

@media(max-width:768px) {

    .header h1 a {
        width: 120px;
        height: 36px;
    }
}

.header .gnb {
    margin: 0 120px 0;
}

@media(max-width:768px) {
    .header .gnb {
        display: none;
    }
}

.header .dth1 {
    display: flex;
    gap: 30px;
}

.header .dth1::after {
    content: "";
    position: absolute;
    top: 90px;
    left: 0;
    display: block;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 0;
    transition: height 0.25s;
}

.header.on .dth1::after {
    background: rgba(255, 255, 255, 0.9);
}

.header .dth1:hover::after {
    height: 250px;
}

.header .dth1>li {
    position: relative;
    font-size: 20px;
    font-weight: 500;
    width: 120px;
    line-height: 90px;
    color: #fff;
    text-align: center;
}


.header .dth1>li::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 2px;
    background: #63b23a;
    z-index: 998;
}

.header .dth1>li:hover::after {
    width: 100%;
    transition: width .4s;
}

.header:hover .dth1>li {
    color: #111F2C;
}

.header.on .dth1>li {
    color: #111F2C;
}

.header .dth1>li:hover {
    color: #63b23a;
}

.header .dth1 .sub {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;

    opacity: 0;
    visibility: hidden;
    z-index: 998;

}

.header .dth1:hover .sub {
    opacity: 1;
    top: 100px;
    visibility: visible;
    transition: opacity 0.3s;
}

.header .dth1 .sub>li {
    font-size: 16px;
    line-height: 40px;
    font-weight: 400;
    color: #111F2C;
}

.header .dth1 .sub>li:hover {
    color: #63b23a;
}

.header .menu {
    position: relative;
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1000;
}

.header .menu span {
    font-size: 0;
    display: block;
    width: 100%;
    height: 1px;
    background: #fff;
}

.header .menu.on {
    justify-content: center;
}

.header .menu.on .m1 {
    transform: rotate(45deg);
    transition: .3s;
}

.header .menu.on .m2 {
    display: none;
}

.header .menu.on .m3 {
    transform: rotate(-45deg);
    transition: .3s;
}

.header.on .menu span {
    background: #111F2C;
}

.header:hover .menu span {
    background: #111F2C;
}

.header .gnb .info {
    display: none;
}

/* 메뉴를 클릭했을 시 gnb has 'on' */
.header .gnb.on {
    position: fixed;
    inset: 0 0 0 0;
    height: 100vh;
    padding: 100px;
    background: #fff;
    z-index: 999;
    line-height: 50px;
    margin: 0 0;
}


.header .gnb.on .dth1 {
    position: absolute;
    top: 50%;
    left: 300px;
    transform: translate(0, -50%);
    flex-direction: column;
    width: 100%;
    gap: 10px;
    counter-reset: counter 0;
}


.header .gnb.on .dth1::after {
    display: none;
}

.header .gnb.on .dth1>li {
    font-size: 32px;
    color: #111F2C;
    width: 100%;
    text-align: start;
    display: flex;
}


.header .gnb.on .dth1>li::before {
    content: '0' counter(counter);
    counter-increment: counter 1;
    font-size: 18px;
    color: #63b23a;
    font-weight: 900;

    opacity: 0;
}

.header .gnb.on .dth1>li:hover::before {
    opacity: 1;
    padding: 0 30px 0 0;
    transition: 0.5s;
}

@media(max-width:768px) {
    .header .gnb.on {
        display: block;
        padding: 101px 0;
    }

    .header .gnb.on .dth1 {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        gap: 0;
    }

    .header .gnb.on .dth1:nth-child(1) {
        border-top: 1px solid #f7f7f7;
    }

    .header .gnb.on .dth1>li {
        position: relative;
        font-size: 20px;
        display: block;
        line-height: 60px;
    }

    .header .gnb.on .dth1>li>a {
        display: block;
        width: 100%;
        padding: 0 0 0 40px;
        border-bottom: 1px solid #f7f7f7;
    }

    .header .gnb.on .dth1>li::before {
        position: absolute;
        font-size: 14px;
        opacity: 1;
        top: 0;
        left: 15px;
    }
}

.header .gnb.on .dth1>li::after {
    display: none;
}

.header .gnb.on .dth1>li a {
    flex: 0 0 250px;
}

.header .gnb.on .dth1 .sub {
    position: relative;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 30px;

    opacity: 1;
    visibility: visible;
}

@media(max-width:768px) {
    .header .gnb.on .dth1>li a {
        flex: 0 0 150px;
    }

    .header .gnb.on .dth1 .sub {
        position: static;
        display: none;
        transform: translate(0, 0);
    }
}

.header .gnb.on .dth1:hover .sub {
    opacity: 1;
    top: inherit;
    visibility: visible;
    transition: opacity 0.3s;
}

.header .gnb.on .dth1 .sub>li {
    font-size: 18px;
}


@media(max-width:768px) {
    .header .gnb.on .dth1 .sub>li {
        font-size: 15px;
        padding: 0 0 0 40px;
        background: #f7f7f7;
    }
}


.header .gnb.on .info {
    display: block;
    position: absolute;
    bottom: 160px;
    right: calc((100% - 1440px)/2 + 16px);
    text-align: right;
    font-size: 15px;
    line-height: 27px;
}

.header .gnb.on .info strong {
    display: block;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.header .gnb.on .info ul {
    font-weight: 300;
}

/* -----------------------------메인비주얼------------------------------------ */

.main_visual {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.main_visual .itm {
    min-height: 1000px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 120%;
}

.main_visual .itm.on {
    background-size: auto 100%;
    transition: 2s;
}


/* .main_slide .slick-active .bg1 {
    transform: scale(1.8);
} */

.bg1 {
    background-image: url(../images/main-visual-01.jpg);

}

.bg2 {
    background-image: url(../images/main-visual-02.jpg);
}

.bg3 {
    background-image: url(../images/main-visual-03.jpg);
}


.itm .main_tit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    margin: 0 0 0 -704px;
    color: #fff;
}

.itm .main_tit h2 {
    font-size: 72px;
    font-weight: 300;
    margin: 0 0 30px 0;
    transform: translateY(100px);
    opacity: 0;
    transition: 1s;
}

.itm .main_tit h2 span {
    font-weight: 700;
}

.main_slide .slick-active .main_tit h2 {
    transform: translateY(0);
    opacity: 1;
}

.itm .main_tit p {
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    transform: translateY(100px);
    opacity: 0;
    transition: 1S 1s;
}

.main_slide .slick-active .main_tit p {
    transform: translateY(0);
    opacity: 1;
}

@media(max-width:768px) {
    .itm .main_tit {
        transform: translate(-50%, -50%);
        margin: 0 0 0 0;
        width: 100%;
        padding: 0 0 0 15px;
    }

    .itm .main_tit h2 {
        font-size: 32px;
        margin: 0 0 20px 0;
    }

    .itm .main_tit p {
        font-size: 16px;
        line-height: 22px;
    }
}

.main_visual .dots {
    position: absolute;
    bottom: 130px;
    left: 50%;

    display: flex;
    gap: 10px;
    transform: translate(0, 0);
    margin: 0 0 0 -704px;
}

.main_visual .dots a {
    display: block;
    font-size: 15px;
    font-weight: 700;
}

.main_visual .dots li {
    position: relative;
    width: 70px;
    height: 30px;
    color: rgba(255, 255, 255, 0.5);
}

.main_visual .dots li.on a {
    color: #fff;
}

.main_visual .dots li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: rgba(255, 255, 255, 0.3);

}

.main_visual .dots li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: #fff;
}

.main_visual .dots li.on::after {
    width: 100%;
    transition: 2s;
}

@media(max-width:768px) {
    .main_visual .dots {
        bottom: 80px;
        left: 15px;
        margin: 0 0 0 0;
    }

    .main_visual .dots li {
        width: 50px;
        height: 30px;
    }
}

.main_visual .arrows {
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transform: translate(0, -50%);
    margin: 0 0 0 634px;
}

@media(max-width:768px) {
    .main_visual .arrows {
        display: none;
    }
}

.main_visual .arrows i {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.4);
    padding: 18px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}

.main_visual .arrows i:hover {
    color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(255, 255, 255, 1);
}

.main_visual .scr_down {
    position: absolute;
    left: 50%;
    bottom: 130px;
    transform: translate(0, 0);
    margin: 0 0 0 574px;
}

.main_visual .scr_down span {
    position: relative;
    display: inline-block;
    width: 130px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}

.main_visual .scr_down span::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 22px;
    height: 32px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.7);
}

@keyframes down {
    0% {
        top: 10px;
    }

    50% {
        top: 13px;
    }

    100% {
        top: 10px;
    }
}

@media(max-width:768px) {
    .main_visual .scr_down {
        left: inherit;
        right: 15px;
        bottom: 80px;
        margin: 0 0 0 0;
    }

    .main_visual .scr_down span {
        width: auto;
        padding: 0 30px 0 0;
        font-size: 15px;
    }
}

.main_visual .scr_down span::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 10px;
    width: 2px;
    height: 8px;
    border-radius: 2px;
    background: #111F2C;
    animation: down 0.8s infinite;
}

/* -----------------------------섹션1------------------------------------ */

.main_event .content {
    display: flex;
    gap: 15px;
}

.main_event .content figure {
    flex: 1;
}

.main_event .img_box {
    margin: 0 0 20px 0;
    overflow: hidden;

}

.main_event .title {
    text-align: center;
    margin: 0 auto 40px auto;
}

.main_event .title h2 {
    font-size: 16px;
    font-weight: 900;
    color: #63b23a;
    margin: 0 0 10px 0;

}




.main_event .title strong {
    font-size: 40px;
    font-weight: 400;
    color: #444;
    line-height: 52px;
}

@media(max-width:768px) {

    .main_event .title h2 {
        font-size: 14px;
    }

    .main_event .title strong {
        font-size: 20px;
        line-height: 28px;
    }
}


.main_event .content .img_box {
    overflow: hidden;
    margin: 0 0 20px 0;
}

.main_event .img_box img {
    transition: 0.5s;
}

.main_event .img_box:hover img {
    transform: scale(1.2);
}

.main_event figcaption {
    text-align: center;
}

.main_event figcaption h3 {
    font-size: 25px;
    margin: 0 0 16px 0;
}

.main_event figcaption p {
    display: inline-block;
    font-size: 16px;
    color: #666;
    line-height: 24px;
    margin: 0 0 30px 0;
    word-break: keep-all;
}

@media(max-width:768px) {
    .main_event .content {
        overflow: hidden;
        padding: 0 10px 50px 10px;
    }

    .main_event figure {
        margin: 0 5px;
    }

    .main_event figcaption h3 {
        font-size: 18px;
    }

    .main_event figcaption p {
        font-size: 14px;
        line-height: 20px;
        height: 40px;
    }

    .main_event .slick-dots {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .main_event .slick-dots li {
        display: inline-block;
        width: 12px;
        height: 12px;
        background: transparent;
        border: 1px solid #ddd;
        border-radius: 50%;
        font-size: 0;
        margin: 0 2px;
    }

    .main_event .slick-dots .slick-active {
        background: #383e8e;
        border: 1px solid #383e8e;
    }

    .main_event .slick-dots li button {
        display: none;
    }

}

.main_event figcaption .con_btn {
    display: inline-block;
    width: 170px;
    line-height: 48px;
    border: 1px solid #655238;
    border-radius: 0 20px 0 20px;
    background-color: #fff;
    color: #655238;
    transition: 0.5s;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;

}

.main_event .content figure:hover .con_btn {
    color: #fff;
    background-color: #383e8e;
    border: 1px solid #383e8e;
}

.main_event figcaption .con_btn i {
    font-weight: 400;
    padding: 0 0 0 10px;
}


@media(max-width:768px) {
    .main_event figcaption .con_btn {
        width: auto;
        line-height: 24px;
        border: none;
    }

    .main_event .content figure:hover .con_btn {
        background-color: transparent;
        border: none;
        color: #383e8e;
    }
}

.main_area {
    background: #f2ebe1;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.main_area h2 {
    display: none;
}

.main_area .event {
    position: relative;
}

.main_area .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    margin: 0 0 0 -585px;
    width: 500px;
    z-index: 1;
}


.main_area .text span {
    display: block;
    font-size: 16px;
    font-weight: 900;
    color: #63b23a;
    margin: 0 0 20px 0;
}

.main_area .text h3 {
    font-size: 40px;
    font-weight: 400;
    color: #444;
    line-height: 52px;
    margin: 0 0 20px 0;
}

.main_area .text p {
    font-size: 18px;
    color: #666;
    line-height: 30px;
    margin: 0 0 50px 0;
}

.main_area .text a {
    display: inline-block;
    padding: 15px 45px;
    font-size: 14px;
    font-weight: 700;
    color: #655238;
    border: 1px solid #655238;
    border-radius: 0 20px 0 20px;
    transition: 0.5s;
    text-align: center;

}

@media(max-width:768px) {
    .main_area {
        gap: 50px;
    }

    .main_area h2 {
        display: block;
        font-size: 14px;
        font-weight: 900;
        color: #63b23a;
        text-align: center;
    }

    .main_area .event {
        display: flex;
        flex-direction: column;
    }

    .main_area .text {
        order: 1;
        position: static;
        transform: translate(0, 0);
        margin: 0 0 0 0;
        padding: 0 15px;
        width: 100%;
        text-align: center;
    }

    .main_area .text span {
        display: none;
    }

    .main_area .text h3 {
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 10px 0;
    }

    .main_area .text p {
        font-size: 14px;
        line-height: 18px;
        margin: 0 0 20px 0;
        font-weight: 300;
    }

    .main_area figure {
        padding: 0 15px;
        margin: 0 0 20px 0;
    }
}

.main_area .text a:hover {
    color: #fff;
    background: #655238;
}

.main_area .box01 .about_img {
    text-align: right;

}

.main_area .box02 .text {
    transform: translate(-100%, -50%);
    margin: 0 0 0 585px;
    z-index: 3;
}

@media(max-width:768px) {
    .main_area .box02 .text {
        transform: translate(0, 0);
        margin: 0 0 0 0;
        z-index: 3;
    }
}

.main_area .box02 {
    position: relative;
    z-index: 3;
}

.main_area .box02::before {
    content: "";
    position: absolute;
    top: -100px;
    right: 5%;

    background: #655238;
    width: 50vw;
    height: 0;
    z-index: 1;
    opacity: 0;
}

.main_area .box02.on::before {
    opacity: 1;
    height: 1100px;
    transition: .5s ease-in;
}


@media(max-width:768px) {
    .main_area .box02::before {
        top: 100px;
        right: 0;

        width: 100%;
    }

    .main_area .box02.on::before {
        height: 100%;
    }
}

.main_area .box02 .text h3 {
    color: #fff;
}

.main_area .box02 .text p {
    color: #fff;
}

.main_area .box02 .text a {
    color: #fff;
    border: 1px solid #fff;
}


.main_area .box02 .text a:hover {
    color: #655238;
    background: #fff;
}

.main_area .box02 .about_img {
    position: relative;
    z-index: 2;
}

.main_area .box03 {
    position: relative;
    z-index: 3;
}

.main_area .box03 .about_img {
    text-align: right;
}

.main_customer {
    padding: 100px 0;
}

.main_customer .tit {
    text-align: center;
}

.main_customer .tit h2 {
    display: block;
    font-size: 16px;
    font-weight: 900;
    color: #63b23a;
    margin: 0 0 10px 0;
}

.main_customer .tit strong {
    font-size: 40px;
    font-weight: 400;
    color: #444;
    line-height: 52px;
    margin: 0 0 40px 0;
}

@media(max-width:768px) {
    .main_customer .tit h2 {
        font-size: 14px;
    }

    .main_customer .tit strong {
        font-size: 20px;
        line-height: 28px;
    }
}

.main_customer .news {
    display: flex;
    gap: 15px;
    max-width: 1200px;
    margin: 0 auto 30px auto;
    padding: 0 15px;
}

.main_customer .news figure {
    flex: 1;
}

.main_customer .news figure .new_img {
    overflow: hidden;
}

.main_customer .news figure img {
    transition: 0.5s;
    position: relative;
}

.main_customer .news figure img:hover {
    transform: scale(1.2);
}

.main_customer .news figure img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: (0, 0, 0, 0.3);
}

@media(max-width:768px) {
    .main_customer .news {
        overflow: hidden;
        padding: 0 10px 60px 10px;
    }

    .main_customer .news figure {
        margin: 0 5px;
    }

    .main_customer .slick-dots {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .main_customer .slick-dots li {
        display: inline-block;
        width: 12px;
        height: 12px;
        background: transparent;
        border: 1px solid #ddd;
        border-radius: 50%;
        font-size: 0;
        margin: 0 2px;
    }

    .main_customer .slick-dots .slick-active {
        background: #383e8e;
        border: 1px solid #383e8e;
    }

    .main_customer .slick-dots li button {
        display: none;
    }
}

.main_customer .news figure ul {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    gap: 14px;
    padding: 15px 0 0 0;
}

.main_customer .news figure ul .date {
    color: #666;
}

.main_customer .news figure ul .green {
    color: #63b23a;
}

.main_customer .news figure ul .big {
    font-size: 20px;
    font-weight: 400;
}

@media(max-width:768px) {
    .main_customer .news figure ul {
        font-size: 14px;
        gap: 8px;
    }


    .main_customer .news figure ul .big {
        font-size: 16px;
        font-weight: 400;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.main_customer .inner {
    margin: 0 auto 40px auto;
}

.main_customer .list {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #fff;
    border-bottom: 1px solid #ddd;
    height: 120px;
}



.main_customer .line {
    border-top: 1px solid #ddd;
}

.main_customer .list .news_text {
    padding: 10px 0;
    overflow: hidden;
}

.main_customer .list .news_text>a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.main_customer .list .left {
    text-align: center;
    padding: 0 10px;
}

.main_customer .list .left span {
    color: #63b23a;
    display: block;
    margin: 0 0 10px 0;
}

.main_customer .list .left strong {
    color: #666;
}



.main_customer .list .txt {
    flex: 0 0 900px;
    overflow: hidden;
}

@media(max-width:768px) {
    .main_customer .list .news_text {
        width: 100%;
    }

    .main_customer .list .news_text>a {
        flex-direction: column;
        gap: 12px;
    }

    .main_customer .list .left {
        display: flex;
        width: 100%;
        justify-content: space-between;
        font-size: 14px;
        padding: 0 0;
    }

    .main_customer .list .left span {
        margin: 0 0 0 0;
    }

    .main_customer .list .txt {
        flex: 0 0 auto;
        width: 100%;
        margin: 0 0 10px 0;
    }
}

.main_customer .list h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 16px 0;
}

.main_customer .list h3:hover {
    color: #383e8e;
}

.main_customer .list p {
    font-size: 16px;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #666;
}

@media(max-width:768px) {
    .main_customer .list h3 {
        font-size: 16px;
        margin: 0 0 0 0;
    }

    .main_customer .list p {
        display: none;
    }
}

.main_customer .list .plus {
    color: #666;
}

.main_customer .list .plus:hover {
    color: #383e8e;
}

.main_customer .list .plus i {
    color: #383e8e;
    vertical-align: -2;
    font-size: 14px;
}

@media(max-width:768px) {

    .main_customer .list .plus {
        align-self: flex-end;
        font-size: 14px;
    }
}

.main_customer .btn {
    text-align: center;
}

.main_customer .btn a {
    display: inline-block;
    padding: 15px 45px;
    font-size: 14px;
    font-weight: 700;
    color: #655238;
    border: 1px solid #655238;
    border-radius: 0 20px 0 20px;
    transition: 0.5s;
    text-align: center;
}

.main_customer .btn i {
    padding: 0 0 0 16px;
    font-size: 16px;
}

.main_customer .btn a:hover {
    color: #fff;
    background: #655238;
}



.main_center {
    position: relative;
    height: 440px;
    background-image: url(../images/img-main-customer.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}

.main_center .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    color: #fff;
}

.main_center .inner h2 {
    font-size: 16px;
    font-weight: 900;
    color: #63b23a;
    margin: 0 0 20px 0;
}

.main_center .inner strong {
    display: block;
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    line-height: 52px;
    margin: 0 0 40px 0;
}

@media(max-width:768px) {
    .main_center {
        height: 360px;
    }

    .main_center .inner h2 {
        font-size: 14px;
        margin: 0 0 10px 0;
    }

    .main_center .inner strong {
        font-size: 20px;
        line-height: 28px;
    }
}

.main_center .inner .btn {
    display: inline-block;
    transition: 0.5s;
    cursor: pointer;
    padding: 15px 45px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0 20px 0 20px;
    transition: 0.5s;
    text-align: center;
}

.main_center .inner .btn:hover {
    background: #fff;
    color: #151515;

}

.footer {
    background: url(../images/img-footer-bg-pc.svg);
    color: rgba(255, 255, 255, 0.6);

}

.footer .menual {
    line-height: 30px;
    display: flex;
    padding: 50px 0 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    align-items: center;
}

@media(max-width:768px) {
    .footer .menual {
        line-height: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.footer .menual ul {
    display: flex;
    gap: 30px;
    padding: 0 0 0 50px;
}

.footer .menual ul>li {
    cursor: pointer;
}

@media(max-width:768px) {
    .footer .menual a {
        width: 20%;
        /* align-self: flex-start; */
    }

    .footer .menual ul {
        gap: 10px;
        font-size: 14px;
        padding: 0 0 0 0;
    }
}

.footer .menual button {
    position: relative;
    margin-left: auto;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-weight: 700;
    padding: 15px 30px;
    line-height: 20px;
}

.footer .menual button i {
    vertical-align: middle;
    font-size: 20px;
    padding: 0 0 0 16px;
}

.footer .menual button .fm {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    width: calc(100% + 2px);
    background: #111f2c;
    display: none;
    flex-direction: column;
    padding: 0 0;
    gap: 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-top: none;
}


.footer .menual button .fm li a {
    display: block;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    line-height: 50px;
}

.footer .menual button .fm li:hover a {
    background: #63b23a;
}

@media(max-width:768px) {
    .footer .menual button {
        margin-left: 0;
        align-self: flex-end;
        padding: 10px 20px;
        font-size: 12px;
    }

    .footer .menual button i {
        font-size: 16px;
        padding: 0 0 0 8px;
    }

    .footer .menual button .fm li a {
        width: 100%;
        font-size: 12px;
    }
}


.footer .address {
    align-items: center;
    padding: 40px 0 120px 0;
    display: flex;
    justify-content: space-between;
}

.footer .address .admin {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 60px;
    row-gap: 20px;
    font-size: 15px;
}



.footer .address .admin li strong {
    display: inline-block;
    width: 100px;
}

.footer .copyright {
    margin-top: auto;
}

.footer .copyright p {
    font-size: 14px;
}

@media(max-width:768px) {
    .footer .address {
        align-items: start;
        flex-direction: column;
    }

    .footer .address .admin {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 13px;
        margin: 0 0 40px 0;
    }

    .footer .address .admin li strong {
        width: 80px;
    }
}